.background {
    display: flex;
    margin: 4% 2%;
    border-radius: 50px;
    padding: 15px;
    height: 90%;
    background: rgba(182, 182, 182, 0.15);
    font-family: 'Encode Sans';
}

.menu-lateral {
    margin: 3% 2% 3% 3%;
    background-color: white;
    border-radius: 35px;
    width: 20%;
    padding-top: 1px;
    padding-bottom: 1px;
    position: sticky;
    top: 20%;
    height: 10%;

}

.menu-lateral div{
    padding: 5px;
    border-radius: 20px;
    margin: 2px 0px;
}

.menu-lateral div:hover:not(.highlight) {
    background-color: #23578449;
    transition: background 400ms ease;

}

.menu-lateral a {
    text-decoration: none;
    color: #374375;
}


dd {
    text-align: center;
    font-size: 17pt;
    color: #374375;
    margin-bottom: 3%;

}


dt {
    text-align: center;
    color: #235784;
}


.tutorial {
    margin: 3% 3% 3% 2%;
    background-color: white;
    border-radius: 50px;
    width: 69%;
    background-position-x: right;
}


.tutorial h1 {
    margin: 5% 5% 2%;
    font-size: 55pt;
    color: #374375;
    text-align: center;
}

.tutorial p {
    margin: 0% 6% 5%;
    font-size: 16pt;
    text-align: justify;
    color: #235784;

}

.highlight {
    background: #235784;
    box-shadow: 2px 2px 2px darkgray;
    transition: background 400ms ease;
}

.highlight dt {
    color: white;
}

.highlight dd a {
    color: #F0F0F0;
}

.highlight dd {
    color: white
}