:root {
    --cor-de-fundo: rgba(182, 182, 182, 0.15);
    --cor-texto: #374375;
    --cor-primaria: #FFC805;
    --fonte-principal: 'Encode Sans';
    --fonte-principal-titulo: 700;
    --fonte-principal-texto: 500;
    }


