:root {
    --cor-de-fundo-nav: rgba(182, 182, 182, 0.15);
    --cor-texto: #374375;
}
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--cor-de-fundo-nav);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 10px;
}

#menu {
    margin: 10px;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 700;
    font-family: 'Encode Sans';
    padding: 5px;
}