* {
    
    padding: 0;
    margin: 0;
    box-sizing: 'border-box';

}

body{
    font-family: 'Encode sans';
    
}

h4{
  color: #374375

}

label{
  color: #235784

}
.btn#avancar{
  background-color: #FFC805;
  border-color:#FFC805
}

input#Cargo.form-control{
  color: #235784

}
input#Cargo.form-control{
  border-color: #235784

}

input#Empresa.form-control{
  border-color:#235784 
  

}
input#Empresa.form-control{
  color:#235784 
  

}

textarea#Descrição.form-control{
  color:#235784 

}
textarea#Descrição.form-control{
  border-color:#235784 

}

input#Localidade.form-control{
  color:#235784

}

input#Localidade.form-control{
  border-color:#235784

}

select#Status.form-control{
  color:#235784

}

select#Status.form-control{
  border-color:#235784

}

