body {
    font-family: 'Encode Sans';
    color: #374375;
}

h1 {
    margin-top: 50px;
    font-family: 'Montserrat';
    color:black;
}

span {
    font-family: 'Montserrat';
    font-weight: 350;
    font-size: xx-large;
}

.curriculo1 {
    margin-top: 75px;

}

.botoes1 {
    margin-top: 120px;
    margin-bottom: 110px;

    }

.botoes1 a {
    background-color:#FFC805 ;
    color: white;
    border: none;
    margin: 0 15px

}   

.circulos {
    position: center;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 0px;
    width: 900px;
    height: 800px;

}

.carousel {
    height: 100%;
    margin-left: 25px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    width: 100%;
    display: flex;
  }
  
  .carousel-inner img {
    height: 50%;
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  #prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFC805;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  #prevBtn {
    left: 10px;
  }
  
  #nextBtn {
    right: 10px;
  }
     

.imagem1 {
    margin-top: 0px;
    margin-left:500px;
    margin-right: 225px;
    width: 325px;
    height: 125px;
    
}

.p1 {
    margin-left: 250px;

}

.botoes2 {
    margin-left: 235px;
    margin-bottom: 50px;
    
}

.botoes2 a {
    background-color:#FFC805 ;
    color: white;
    border: none;

}





