body {
    font-family: 'Encode Sans';
    color: #374375;
}

h1 {
    margin-top: 50px;
    font-family: 'Montserrat';
    color:black;
}

span {
    font-family: 'Montserrat';
    font-weight: 350;
    font-size: xx-large;
}

.posicao-circulo {
  display: grid;
  grid-template-columns: 19% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

}

.setor1 {
display: grid;
grid-template-columns: 19% 20% 20% 20% 19%;
grid-template-rows: 20% 20% 20% 20% 20%;
}


.imagem-principal {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 3% 15% 5%; 
}

.circle1 {
  background-color: #ffc9058a;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  grid-area: 2/5/2/6;

}
.circle2 {
  background-color: #374375af;
  height: 175px;
  width: 350px;
  border-radius: 0px 0px 175px 175px;
  grid-area: 1/2/1/2;

}

.botoes1 {
  border-radius: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
  grid-area: 2/3/3/5;

}

.botoes1 a {
    background-color:#FFC805;
    color: white;
    margin: 0 20px;
    padding: 5px 20px ;
    border-radius: 20px;
    font-family: 'Encode Sans';
    font-weight: 500;
    font-size: large;

}   

.circulos {
    position: center;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 0px;
    width: 900px;
    height: 800px;

}

.carousel {
    height: 100%;
    margin-left: 25px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    width: 100%;
    display: flex;
  }
  
  .carousel-inner img {
    height: 50%;
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  #prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFC805;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  #prevBtn {
    left: 10px;
  }
  
  #nextBtn {
    right: 10px;
  }
     

.imagem1 {
    margin-top: 0px;
    margin-left:500px;
    margin-right: 225px;
    width: 325px;
    height: 125px;
    
}

.p1 {
    margin-left: 250px;

}

.botoes2 {
    margin-left: 235px;
    margin-bottom: 50px;
    
}

.botoes2 a {
    background-color:#FFC805 ;
    color: white;
    border: none;

}





